.card img{
    height: 320px;
    width: 250px;
    margin: 0% auto;
    padding: 20px;
    background-color:seashell;
    border-radius: 20px;
}
.card{
    border: none;
    border-radius: 30px;
    padding-top: 20px;
}
h3{
   float: right;}
.buy-button{
    border-radius: 10px;
    background-color: tomato;
    padding:7px;
    border: none;
    
}
h1{
    color:blue;
}
h2{
    color: brown;
}
h3{
    color: chocolate;
}
h5{
    color: chartreuse;
}
p{
    font-weight: 400;
    color: darkblue;
}
small{
    font-weight: 500;
    color: gray;
}